@charset "UTF-8";
@import url(import/normalize.css);
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Estilo Claro------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Estilo Oscuro-----------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
-----------------------------------Estilos Constantes-------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////
-------------Espacio entre letras y lineas--------------------------
///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////
-------------Tiempo de Transiciones--------------------------
///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////
-------------------------Opacity-------------------------------------
///////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////
-------------------------Border Radius-------------------------------
///////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
----------------------Estilo pagina 404----------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
article {
  height: 79.4vh;
  /*//////////////////////////////////////////////////////////////////////////////////////////////////////////
  ----------------------Estilo de paginas y contacto----------------------------------------------------------
  //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  text-align: center;
}

article section {
  text-align: center;
  margin-top: 2%;
}

article section h1 {
  font-size: 60px;
  margin: 20px;
}

.dark article section h1 {
  color: #c9d1d9;
}

article section p {
  font-size: 20px;
  margin: 20px;
}

.dark article section p {
  color: #8b949e;
}

article section br {
  font-size: 17px;
}

article h1 {
  font-size: 60px;
  margin: 15%;
  margin-bottom: 2.5%;
}

.dark article h1 {
  color: #c9d1d9;
}

article p {
  font-size: 20px;
  margin-bottom: 15%;
}

.dark article p {
  color: #8b949e;
}

article div img {
  margin: 50px;
  width: 90vh;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px #000000a8;
          box-shadow: 0 5px 10px #000000a8;
  -webkit-transition: .5s;
  transition: .5s;
}

body.dark article div img {
  -webkit-box-shadow: 0 5px 10px #4286f4a8;
          box-shadow: 0 5px 10px #4286f4a8;
}

article div img:hover {
  width: 92vh;
  height: 320px;
}

footer {
  background: #1d2f3d;
  color: #c9d1d9;
  padding: 10px 0px;
  text-align: center;
  margin-top: 100px;
  width: 100%;
}

body.dark footer {
  background: #161b22;
}

.article {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 100px auto;
      grid-template-rows: 100px auto;
}

.article .pagina {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-size: 60px;
  margin: 20px;
}

.dark .article .pagina {
  color: #c9d1d9;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
---------------------------------------Barra de Menu--------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
nav {
  z-index: 1;
  background: #fafafa;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.dark nav {
  background: #161b22;
}

nav a {
  text-decoration: none;
  color: #f3ba00;
  display: inline-block;
  border-radius: 5px;
  margin: 2px;
  padding: 20px;
  font-size: 30px;
  /* border: 1px solid aqua;*/
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3 ease-out all;
  transition: 0.3 ease-out all;
}

body.dark nav a {
  color: #c9d1d9;
}

nav a:hover {
  background: #1d2f3d;
  color: #f3ba00;
  text-shadow: 2px 2px 6px #1d2f3d;
}

body.dark nav a:hover {
  background: #c9d1d9;
  color: #161b22;
  text-shadow: 2px 2px 6px #161b22;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
---------------------------------Slider--------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.slider {
  margin: auto;
  overflow: hidden;
  height: 500px;
  max-width: 1166px;
  max-height: 500px;
  margin: auto;
}

.slides {
  width: 500%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* overflow::hidden;*/
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  -webkit-transition: 4s ease-out all;
  transition: 4s ease-out all;
}

#radio1:checked ~ .first {
  margin-left: 0;
  -webkit-transition: 0s;
  transition: 0s;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

#radio5:checked ~ .first {
  margin-left: -80%;
}

#radio6:checked ~ .first {
  margin-left: -100%;
}

#radio7:checked ~ .first {
  margin-left: -120%;
}

#radio8:checked ~ .first {
  margin-left: -140%;
}

#radio9:checked ~ .first {
  margin-left: -160%;
}

#radio10:checked ~ .first {
  margin-left: -180%;
}

/*css for automatic navigation*/
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: #40d3dc;
}

#radio6:checked ~ .navigation-auto .auto-btn6 {
  background: #40d3dc;
}

#radio7:checked ~ .navigation-auto .auto-btn7 {
  background: #40d3dc;
}

#radio8:checked ~ .navigation-auto .auto-btn8 {
  background: #40d3dc;
}

#radio9:checked ~ .navigation-auto .auto-btn9 {
  background: #40d3dc;
}

#radio10:checked ~ .navigation-auto .auto-btn10 {
  background: #40d3dc;
}

img {
  /* transform : rotate(0deg);*/
  width: 1366px;
  height: 500px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 0;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Aside-------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
aside {
  min-width: 200px;
  margin: 40px 20px 20px 0;
  height: 100%;
  background: #1d2f3d;
  padding: 20px;
  border-radius: 5%;
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}

body.dark aside {
  background: #21262d;
}

aside h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 5x;
  text-align: justify;
  color: #c9d1d9;
  font-weight: normal;
  padding: 0px 0px 20px 0px;
}

aside a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #f3ba00;
  font-size: 20px;
}

body.dark aside a {
  color: #58a6ff;
}

aside a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Articuló----------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
main {
  min-height: 100vh;
}

main h2 {
  color: #000000;
  font-weight: normal;
  padding-top: 40px;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 40px;
}

body.dark main h2 {
  color: #c9d1d9;
}

main i {
  font-size: 17px;
  color: #4b4b4b;
  letter-spacing: 1px;
  line-height: 30px;
}

body.dark main i {
  color: #4e555f;
}

main p {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 20px;
  color: #252525;
  letter-spacing: 1px;
  line-height: 30px;
}

body.dark main p {
  color: #8b949e;
}

.link {
  color: #0044ff;
  text-decoration: none;
}

body.dark .link {
  color: #58a6ff;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
----------------------------------------Footer--------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
footer {
  background: #1d2f3d;
  color: #c9d1d9;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
}

body.dark footer {
  background: #161b22;
}

main {
  min-height: 100vh;
}

main section ul {
  list-style: none;
}

main section ul li a {
  margin: 2px;
  font-size: 20px;
  color: #0044ff;
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px 10px 25px;
  height: 50px;
  width: 200px;
  -webkit-transition: 1s;
  transition: 1s;
}

body.dark main section ul li a {
  color: #58a6ff;
}

main section ul li a:hover {
  display: inline-block;
  padding: 10px 30px 10px 25px;
  color: #f3ba00;
  background: #1d2f3d;
  text-align: center;
  border-radius: 7.5%;
}

main section ul li a:hover ~ img {
  width: 700px;
  height: 200px;
  margin-left: 20px;
  opacity: 1;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
--------------------------------------Animación de pasatiempo----------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.img-pasatiempo-1 {
  width: 200px;
  height: 50px;
  position: absolute;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.img-pasatiempo-2 {
  width: 200px;
  height: 50px;
  position: absolute;
  margin: -54px 0px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.img-pasatiempo-3 {
  width: 200px;
  height: 50px;
  position: absolute;
  margin: -108px 0px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
---------------------Imágenes de pagina autor--------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.img-articulo {
  width: 100%;
  height: 100%;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Back to Top-------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#scroll-back-to-top {
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 92.5%;
  top: 80%;
  font-size: 60px;
  position: fixed;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  color: #1d2f3d;
}

body.dark #scroll-back-to-top {
  color: #c9d1d9;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
-----------------------------------Botón de Oscurecer--------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.switch {
  background: #343d5b;
  border-radius: 1000px;
  margin-top: 20px;
  border: none;
  height: 30px;
  width: 60px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #ffffff;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 1000px;
  -webkit-transition: 0.3 ease-out all;
  transition: 0.3 ease-out all;
  -webkit-box-shadow: 0px 0px 2px 2px black;
          box-shadow: 0px 0px 2px 2px black;
}

.switch.active {
  background: #ffffff;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  line-height: 30px;
  display: block;
  background: none;
}

.switch span img {
  width: 30px;
  height: 30px;
}

.contenedor {
  max-width: 2000px;
  width: 85%;
  margin: auto;
  height: 5%;
  /*ponerlos en horizontal*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*justify-content: space-between;*/
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Arvo", serif;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
  --------------------------------Suaviza transiciones de link internos---------------------------------------
  //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
html {
  scroll-behavior: smooth;
  /*//////////////////////////////////////////////////////////////////////////////////////////////////////////
  ------------------------------------------Body----------------------------------------------------------
  //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
}

html body {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  height: 100vh;
  background: radial-gradient(ellipse at top, #37e8fc, transparent), radial-gradient(ellipse at bottom, #1d2f3d, transparent);
  background: #37e8fc;
  /*  background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: difference;*/
}

html body.dark {
  background: radial-gradient(ellipse at top, #1d2733, #142030);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: difference;
}
/*# sourceMappingURL=main.css.map */