/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
----------------------------------------Import------------------------------------------------  -----
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import url(import/normalize.css);
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Estilo Claro------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
$light-wallpaper-body-top: #37e8fc;
$light-wallpaper-body-bottom: #1d2f3d;
$light-wallpaper-menu: #fafafa;
$light-wallpaper-menu-hover: #1d2f3d;
$light-wallpaper-switch: #343d5b;
$light-wallpaper-button-ico: #1d2f3d;
$light-wallpaper-aside: #1d2f3d;
$light-wallpaper-footer: #1d2f3d;
$light-titulo: #000000;
$light-fecha: #4b4b4b;
$light-p: #252525;
$light-menu-a: #f3ba00;
$light-aside-a: #f3ba00;
$light-sombra-menu: 2px 2px 6px #1d2f3d;
$light-link: #0044ff;
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Estilo Oscuro-----------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
$dark-wallpaper-body-top: #1d2733;
$dark-wallpaper-body-bottom: #142030;
$dark-wallpaper-menu: #161b22;
$dark-wallpaper-menu-hover: #c9d1d9;
$dark-wallpaper-switch: #ffffff;
$dark-wallpaper-button-ico: #c9d1d9;
$dark-wallpaper-aside: #21262d;
$dark-wallpaper-footer: #161b22;
$dark-titulo: #c9d1d9;
$dark-fecha: #4e555f;
$dark-p: #8b949e;
$dark-menu-a: #c9d1d9;
$dark-aside-a: #58a6ff;
$dark-sombra-menu: 2px 2px 6px #161b22;
$dark-link: #58a6ff;
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
-----------------------------------Estilos Constantes-------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
$switch-circle: #ffffff;
$text-menu: 30px;
$text-aside-titulo: 30px;
$text-aside-a: 20px;
$text-p: 20px;
$text-fecha: 17px;
$text-titulo: 30px;
$text-back-to-top: 60px;
/*///////////////////////////////////////////////////////////////////
-------------Espacio entre letras y lineas--------------------------
///////////////////////////////////////////////////////////////////*/
$letter-spacing-titulo: 2px;
$line-height-titulo: 40px;
$letter-spacing-fecha: 1px;
$line-height-fecha: 30px;
$letter-spacing-p: 1px;
$line-height-p: 30px;
/*///////////////////////////////////////////////////////////////////
-------------Tiempo de Transiciones--------------------------
///////////////////////////////////////////////////////////////////*/
$transition-body: 0.5s ease all;
$transition-nav: 0.3 ease-out all;
$transition-switch: 0.3 ease-out all;
$transition-pasatiempo: 1s;
$transition-pasatiempo-img:2s;
$transition-slide: 4s ease-out all;
/*///////////////////////////////////////////////////////////////////
-------------------------Opacity-------------------------------------
///////////////////////////////////////////////////////////////////*/
$opacity-on: 0;
$opacity-off: 1;
/*///////////////////////////////////////////////////////////////////
-------------------------Border Radius-------------------------------
///////////////////////////////////////////////////////////////////*/
$border-radius-menu: 5px;
$border-radius-aside: 5%;
$border-radius-pasatiempo: 7.5%;
$border-radius-switch: 1000px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arvo", serif;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
--------------------------------Suaviza transiciones de link internos---------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
html {
  scroll-behavior: smooth;
  /*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Body----------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  body {
    position: sticky;
    top: 10px;
    transition: $transition-body;
    height: 100vh;
    background: radial-gradient(
        ellipse at top,
        $light-wallpaper-body-top,
        transparent
      ),
      radial-gradient(
        ellipse at bottom,
        $light-wallpaper-body-bottom,
        transparent
      );
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: difference;
    &.dark {
      background: radial-gradient(
        ellipse at top,
        $dark-wallpaper-body-top,
        $dark-wallpaper-body-bottom
      );
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-blend-mode: difference;
    }
  }
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
----------------------Estilo pagina 404----------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
article {
  height: 79.4vh;
  section {
    text-align: center;
    margin-top: 2%;
    h1 {
      font-size: $text-back-to-top;
      margin: 20px;
      .dark & {
        color: $dark-titulo;
      }
    }
    p {
      font-size: $text-p;
      margin: 20px;
      .dark & {
        color: $dark-p;
      }
    }
    br {
      font-size: $text-fecha;
    }
  }
  /*//////////////////////////////////////////////////////////////////////////////////////////////////////////
----------------------Estilo de paginas y contacto----------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  text-align: center;
  h1 {
    font-size: $text-back-to-top;
    margin: 15%;
    margin-bottom: 2.5%;
    .dark & {
      color: $dark-titulo;
    }
  }
  p {
    font-size: $text-p;
    margin-bottom: 15%;
    .dark & {
      color: $dark-p;
    }
  }
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
---------------------------------------Barra de Menu--------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
nav {
  z-index: 1;
  background: $light-wallpaper-menu;
  position: sticky;
  top: 0;
  .dark & {
    background: $dark-wallpaper-menu;
  }
  a {
    text-decoration: none;
    color: $light-menu-a;
    display: inline-block;
    border-radius: $border-radius-menu;
    margin: 2px;
    padding: 20px;
    font-size: $text-menu;
    /* border: 1px solid aqua;*/
    width: 100%;
    text-align: center;
    transition: $transition-nav;
    body.dark & {
      color: $dark-menu-a;
    }
  }
  a:hover {
    background: $light-wallpaper-menu-hover;
    color: $light-menu-a;
    text-shadow: $light-sombra-menu;
    body.dark & {
      background: $dark-wallpaper-menu-hover;
      color: $dark-wallpaper-menu;
      text-shadow: $dark-sombra-menu;
    }
  }
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Aside-------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
main {
  min-height: 100vh;
  aside {
    min-width: 200px;
    margin: 40px 20px 20px 0;
    height: 100%;
    background: $light-wallpaper-aside;
    padding: 20px;
    border-radius: $border-radius-aside;
    position: sticky;
    top: 40px;
    body.dark & {
      background: $dark-wallpaper-aside;
    }
    h3 {
      font-family: "Montserrat", sans-serif;
      font-weight: normal;
      font-size: $text-aside-titulo;
      margin-bottom: 5x;
      text-align: justify;
      color: $dark-titulo;
      font-weight: normal;
      padding: 0px 0px 20px 0px;
    }
    a {
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      color: $light-aside-a;
      font-size: $text-aside-a;
      body.dark & {
        color: $dark-aside-a;
      }
      &:hover {
        text-decoration-line: underline;
      }
    }
  }

  /*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Articuló----------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  h2 {
    color: $light-titulo;
    font-weight: normal;
    padding-top: 40px;
    font-size: $text-titulo;
    letter-spacing: $letter-spacing-titulo;
    line-height: $line-height-titulo;
    body.dark & {
      color: $dark-titulo;
    }
  }
  i {
    font-size: $text-fecha;
    color: $light-fecha;
    letter-spacing: $letter-spacing-fecha;
    line-height: $line-height-fecha;
    body.dark & {
      color: $dark-fecha;
    }
  }
  p {
    font-size: $text-p;
    margin-bottom: 10px;
    line-height: 20px;
    color: $light-p;
    letter-spacing: $letter-spacing-p;
    line-height: $line-height-p;
    body.dark & {
      color: $dark-p;
    }
  }

  /*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------Pasatiempos--------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  section {
    ul {
      list-style: none;
      li {
        a {
          margin: 2px;
          font-size: $text-p;
          color: $light-link;
          text-decoration: none;
          display: inline-block;
          padding: 10px 30px 10px 25px;
          height: 50px;
          width: 200px;
          transition: $transition-pasatiempo;
          body.dark & {
            color: $dark-link;
          }
          &:hover {
            display: inline-block;
            padding: 10px 30px 10px 25px;
            color: $light-aside-a;
            background: $light-wallpaper-aside;
            text-align: center;
            border-radius: $border-radius-pasatiempo;
          }
          &:hover ~ img {
            width: 700px;
            height: 200px;
            margin-left: 20px;
            opacity: $opacity-off;
          }
        }
      }
    }
  }
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
---------------------Imágenes de index-------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
img {
  /* transform : rotate(0deg);*/
  width: 1366px;
  height: 500px;
  overflow: hidden;
  object-fit: cover;
  margin-top: 0;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
----------------------------------------Footer--------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
footer {
  background: $light-wallpaper-footer;
  color: $dark-titulo;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
  body.dark & {
    background: $dark-wallpaper-footer;
  }
}
/*footer #menu-footer{
  position: sticky;
  bottom: 0;
}*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
----------------------------------Estilo por clases---------------------------------------------------------
////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*/ ///////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
--------------------------------------Animación de pasatiempo----------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.img-pasatiempo-1 {
  width: 200px;
  height: 50px;
  position: absolute;
  opacity: $opacity-on;
  transition: $transition-pasatiempo;
}
.img-pasatiempo-2 {
  width: 200px;
  height: 50px;
  position: absolute;
  margin: -54px 0px;
  opacity: $opacity-on;
  transition: $transition-pasatiempo;
}
.img-pasatiempo-3 {
  width: 200px;
  height: 50px;
  position: absolute;
  margin: -108px 0px;
  opacity: $opacity-on;
  transition: $transition-pasatiempo;
}
.contenedor {
  max-width: 2000px;
  width: 85%;
  margin: auto;
  height: 5%;
  /*ponerlos en horizontal*/
  display: flex;
  /*justify-content: space-between;*/
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
---------------------Imágenes de pagina autor--------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.img-articulo {
  width: 100%;
  height: 100%;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
---------------------------------Slider--------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.slider {
  margin: auto;
  overflow: hidden;
  height: 500px;
  max-width: 1166px;
  max-height: 500px;
  margin: auto;
}
.slides {
  width: 500%;
  display: flex;
  /* overflow::hidden;*/
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: $transition-slide;
}
#radio1:checked ~ .first {
  margin-left: 0;
  transition: 0s;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}
#radio5:checked ~ .first {
  margin-left: -80%;
}
#radio6:checked ~ .first {
  margin-left: -100%;
}
#radio7:checked ~ .first {
  margin-left: -120%;
}
#radio8:checked ~ .first {
  margin-left: -140%;
}
#radio9:checked ~ .first {
  margin-left: -160%;
}
#radio10:checked ~ .first {
  margin-left: -180%;
}
/*css for automatic navigation*/
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}
#radio5:checked ~ .navigation-auto .auto-btn5 {
  background: #40d3dc;
}
#radio6:checked ~ .navigation-auto .auto-btn6 {
  background: #40d3dc;
}
#radio7:checked ~ .navigation-auto .auto-btn7 {
  background: #40d3dc;
}
#radio8:checked ~ .navigation-auto .auto-btn8 {
  background: #40d3dc;
}
#radio9:checked ~ .navigation-auto .auto-btn9 {
  background: #40d3dc;
}
#radio10:checked ~ .navigation-auto .auto-btn10 {
  background: #40d3dc;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Back to Top-------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#scroll-back-to-top {
  background: none;
  border: none;
  display: flex;
  left: 92.5%;
  top: 80%;
  font-size: $text-back-to-top;
  position: fixed;
  transform: rotate(-90deg);
  color: $light-wallpaper-button-ico;
  body.dark & {
    color: $dark-wallpaper-button-ico;
  }
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
-----------------------------------Botón de Oscurecer--------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.switch {
  background: $light-wallpaper-switch;
  border-radius: $border-radius-switch;
  margin-top: 20px;
  border: none;
  height: 30px;
  width: 60px;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  &::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: $switch-circle;
    top: 0;
    left: 0;
    right: unset;
    border-radius: $border-radius-switch;
    transition: $transition-switch;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 2);
  }
  &.active {
    background: $dark-wallpaper-switch;
    &::after {
      right: 0;
      left: unset;
    }
  }
  span {
    line-height: 30px;
    display: block;
    background: none;
    img {
      width: 30px;
      height: 30px;
    }
  }
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
----------------------------------------Color del link------------------------------------------------  -----
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.link {
  color: $light-link;
  text-decoration: none;
  body.dark & {
    color: $dark-link;
  }
}
