/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Importar css------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import url(import/class.css);
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Estilo Oscuro-----------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
$dark-wallpaper-body: #0d1117;
$dark-wallpaper-menu: #161b22;
$dark-wallpaper-button-ico: #c9d1d9;
$dark-wallpaper-aside: #21262d;
$dark-wallpaper-footer: #161b22;
$dark-titulo: #c9d1d9;
$dark-fecha: #21262d;
$dark-p: #8b949e;
$dark-menu-a: #c9d1d9;
$dark-sombra-menu: 2px 2px 6px #161b22;
$dark-switch: #343d5b;
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Estilo Claro------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
$light-wallpaper-body: #f2f2f2;
$light-wallpaper-menu: #fafafa;
$light-wallpaper-button-ico: #1d2f3d;
$light-wallpaper-aside: #1d2f3d;
$light-wallpaper-footer: #1d2f3d;
$light-titulo: #000000;
$light-fecha: #6d6d6d;
$light-p: #252525;
$light-menu-a: #f3ba00;
$light-sombra-menu: 2px 2px 6px #1d2f3d;
$light-switch: #f2f2f2;
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
-----------------------------------Estilos Constantes-------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
$link: #58a6ff;
$switch: #ffffff;
$text-menu: 1.5em;
$text-aside: 1em;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arvo", serif;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
--------------------------------Suaviza transiciones de link internos---------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

html {  
  scroll-behavior: smooth;
  /*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Body----------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  body {
    position: sticky;
    top: 10px;
    transition: 0.5s ease all;
    height: 100vh;
    background: radial-gradient(ellipse at bottom, #0050ac, rgba(0, 0, 0, 0.953));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: difference;
    &.dark {
      background: radial-gradient(ellipse at bottom, #444d57, rgba(0, 0, 0, 0.953));
      
    }
  }
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
---------------------------------------Barra de Menu--------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
nav {
  z-index: 1;
 /* background: $light-wallpaper-menu;
  */position: sticky;
  top: 0;
  body.dark & {
   /* background: $dark-wallpaper-menu;
  */}
  a {
    text-decoration: none;
    color: $light-menu-a;
    display: inline-block;
    border-radius: 5px;
    margin: 2px;
    padding: 20px;
    font-size: $text-menu;
    /* border: 1px solid aqua;*/
    width: 100%;
    text-align: center;
    transition: 0.3 ease-out all;
    body.dark & {
      color: $link;
    }
    #da{
      align-self: center;
    }
  }
  a:hover {
    background: $light-wallpaper-aside;
    color: $light-menu-a;
    text-shadow: $light-sombra-menu;
    transition: 0.5s ease all;
    body.dark & {
      background: $dark-titulo;
      color: $dark-wallpaper-menu;
      text-shadow: $dark-sombra-menu;
    }
  }
  /*//////////////////////////////////////////////////////////////////////////////////////////////////////////
-----------------------------------Botón de Oscurecer--------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  .switch {
    background: $dark-switch;
    border-radius: 1000px;
    margin-top: 20px;
    border: none;
    height: 30px;
    width: 60px;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      background: $light-switch;
      top: 0;
      left: 0;
      right: unset;
      border-radius: 100px;
      transition: 0.3s ease all;
      box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 2);
    }
    &.active {
      background: $light-switch;
      &::after {
        right: 0;
        left: unset;
      }
    }
    span {
      line-height: 30px;
      display: block;
      background: none;
      img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Back to Top-------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
 #scroll-back-to-top{
    background: none;
    border:none;
    display: flex;
    left: 92.5%;
    top: 80%;
    font-size: 50px;
    position: fixed;
    transform: rotate(-90deg);
    color:$light-wallpaper-button-ico;
    body.dark &{ 
      color:$dark-wallpaper-button-ico;
    }
  }
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Aside-------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/

main {
  min-height: 100vh;
  aside {
    min-width:200px ;
    margin: 40px 20px 20px 0;
    height: 100%;
    background: $light-wallpaper-aside;
    padding: 20px;
    border-radius: 5%;
    position: sticky;
    top: 40px;
    body.dark & {
      background: $dark-wallpaper-aside;
    }
    h3 {
      font-family: "Montserrat", sans-serif;
      font-weight: normal;
      font-size: 24px;
      margin-bottom: 5x;
      text-align: justify;
      color: $dark-titulo;
      font-weight: normal;
      padding: 0px 0px 20px 0px;
    }
    a {
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      color: $light-menu-a;
      font-size: $text-aside;
      body.dark & {
        color: $link;
      }
    }
  }
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
------------------------------------------Articuló----------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  h2 {
    color: $light-titulo;
    font-weight: normal;
    padding-top: 40px;
    body.dark & {
      color: $dark-titulo;
    }
  }
  h3{
    color: $light-titulo;
    font-weight: normal;
    padding: 10px 0px 10px 0px;
    font-size: $text-menu;
    body.dark & {
      color: $dark-titulo;
      
    }
  }
  i {
    font-size: 14xp;
    color: $light-fecha;
    body.dark & {
      color: $dark-fecha;
    }
  }
  p {
    margin-bottom: 10px;
    line-height: 20px;
    color: $light-p;
    body.dark & {
      color: $dark-p;
    }
    a{
      color: $link;
      text-decoration: none;
    }
  }
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
----------------------------------------Footer--------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
footer {
  background: $light-wallpaper-footer;
  color: $dark-titulo;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
  body.dark & {
    background: $dark-wallpaper-footer;
  }
}
/*footer #menu-footer{
  position: sticky;
  bottom: 0;
}*/
