@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------Mixin----------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------*/
/*fondo blanco con letras transparentes*/
/*----------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------variables-------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------*/
/*Body*/
/*Div*/
/*Img*/
/*Articulo*/
/*::selection*/
/*Button*/
/*H2*/
body {
  background: #000a55;
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100hv;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ffe100));
  background-image: linear-gradient(#eee, #ffe100);
}

body div {
  background: url(677724.jpg);
  max-width: 500px;
  padding: 30px;
  border-radius: 20px;
  margin-top: 2%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode: difference;
  /*  @include animacion();*/
}

body div i {
  /*display: flex;
            flex-direction: column;
            align-items: center;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body div i img {
  /* position: absolute;*/
  width: 70%;
  -webkit-animation: spin 20s linear infinite;
  /* Safari */
  animation: spin 20s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

body div article {
  text-align: center;
  margin: 20px;
  color: white;
  /*Espacio entre lineas*/
  line-height: 33px;
  background: rgba(0, 29, 84, 0.645);
  border-radius: 15px;
  text-align: justify;
  /*Para que funcione el lo que voy hacer con el after se necesita del relative*/
  position: relative;
  /*con after o before podemos poner elementos nuevos a la pagina antes de o despues de un elemento*/
  /*Cambiar el css al seleccionar el texto*/
}

body div article::after {
  /*Para agregar texto content*/
  /*content: 'hola';*/
  /*Para un elemento*/
  content: '';
  display: block;
  height: 0px;
  width: 0px;
  border-top: 20px solid #00a3fa;
  border-bottom: 20px solid transparent;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  /*el position absolute nor permite ponerlo donde queramos */
  position: absolute;
  /*con calc podemos hacer pequeñas operaciones*/
  right: calc(50% - 20px);
}

body div article::-moz-selection {
  background: #ff8400;
  color: #ffe100;
}

body div article::selection {
  background: #ff8400;
  color: #ffe100;
}

body div article::first-line {
  color: #aa01ff;
}

body div article::first-letter {
  color: #ffabee;
  font-size: 2.8em;
  float: left;
}

body div button {
  width: 100%;
  background: #013161;
  border: none;
  height: 60px;
  border-radius: 15px;
  display: inline-block;
}

body div button a {
  color: #eee;
  font-size: 3em;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

body div h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #0400ff;
  font-size: 1.5em;
  margin-top: 1%;
  font-weight: bold;
}

body div h2::after {
  content: '';
  background: no-repeat url(language_black_48dp.svg);
  background-size: 100%;
  width: 70px;
  height: 70px;
  margin-left: 2%;
}

/*con @extend solo tines que copiar el nombre de otro elemento dea un div,clases o elemento(div,a,h2,img) y copia el css*/
section, .cambiar {
  background: url(7.jpg);
  width: 100vh;
  height: 50vh;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: 100% 100%;
  /*  @include fondo();
    */
}

section b, .cambiar b {
  display: block;
  background: #fff;
  color: #000;
  width: 50vh;
  height: 40vh;
  /*para que funcione tiene que estar el fondo blanco y letras negras*/
  font-weight: bold;
  mix-blend-mode: screen;
  font-size: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*alineacion vertical*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*alineacion horizontal*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 20px 10px 30px;
  align-items: center;
}

/*voltear un elemento*/
.cambiar {
  background: url(7.jpg);
  background-size: 100% 100%;
  /*  @include fondo();
    */
  -webkit-transform: scaley(-1);
          transform: scaley(-1);
}

ol li::marker {
  color: red;
  font-size: 20px;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: .5em 1em;
  width: 100%;
  height: 200px;
}

.button:hover {
  display: inline-block;
  text-decoration: none;
  padding: .5em 1em;
  width: 100%;
  height: 200px;
}

@media screen and (min-width: 1000px) {
  .button {
    background: #1a1a1a;
    display: inline-block;
    text-decoration: none;
    padding: .5em 1em;
    width: 100%;
    height: 200px;
  }
}

.subscribir {
  display: inline-block;
  text-decoration: none;
  padding: .5em 1em;
  width: 100%;
  height: 200px;
}

.subscribir:hover {
  display: inline-block;
  text-decoration: none;
  padding: .5em 1em;
  width: 100%;
  height: 200px;
}

@media screen and (min-width: 800px) {
  .subscribir {
    background: #1a1a1a;
    display: inline-block;
    text-decoration: none;
    padding: .5em 1em;
    width: 100%;
    height: 200px;
  }
}

/*-----------------Ciclo for con sass----------------*/
/*-----------------Ejemplo 1      -------------------*/
.cols-1 {
  width: 1%;
}

.cols-2 {
  width: 2%;
}

.cols-3 {
  width: 3%;
}

.cols-4 {
  width: 4%;
}

.cols-5 {
  width: 5%;
}

.cols-6 {
  width: 6%;
}

.cols-7 {
  width: 7%;
}

.cols-8 {
  width: 8%;
}

.cols-9 {
  width: 9%;
}

.cols-10 {
  width: 10%;
}

.cols-11 {
  width: 11%;
}

.cols-12 {
  width: 12%;
}

.cols-13 {
  width: 13%;
}

.cols-14 {
  width: 14%;
}

.cols-15 {
  width: 15%;
}

.cols-16 {
  width: 16%;
}

.cols-17 {
  width: 17%;
}

.cols-18 {
  width: 18%;
}

.cols-19 {
  width: 19%;
}

.cols-20 {
  width: 20%;
}

/*--------------------------------------------------*/
/*-----------------Ejemplo 2      -------------------*/
.cols-5 {
  width: 5%;
}

.cols-10 {
  width: 10%;
}

.cols-15 {
  width: 15%;
}

.cols-20 {
  width: 20%;
}

.cols-25 {
  width: 25%;
}

.cols-30 {
  width: 30%;
}

.cols-35 {
  width: 35%;
}

.cols-40 {
  width: 40%;
}

.cols-45 {
  width: 45%;
}

.cols-50 {
  width: 50%;
}

.cols-55 {
  width: 55%;
}

.cols-60 {
  width: 60%;
}

.cols-65 {
  width: 65%;
}

.cols-70 {
  width: 70%;
}

.cols-75 {
  width: 75%;
}

.cols-80 {
  width: 80%;
}

.cols-85 {
  width: 85%;
}

.cols-90 {
  width: 90%;
}

.cols-95 {
  width: 95%;
}

.cols-100 {
  width: 100%;
}

/*--------------------------------------------------*/
/*-----------------Ejemplo 3      -------------------*/
.cols-5 {
  width: 5%;
}

@media screen and (min-width: 640px) {
  .cols-m-5 {
    width: 5%;
  }
}

.cols-10 {
  width: 10%;
}

@media screen and (min-width: 640px) {
  .cols-m-10 {
    width: 10%;
  }
}

.cols-15 {
  width: 15%;
}

@media screen and (min-width: 640px) {
  .cols-m-15 {
    width: 15%;
  }
}

.cols-20 {
  width: 20%;
}

@media screen and (min-width: 640px) {
  .cols-m-20 {
    width: 20%;
  }
}

.cols-25 {
  width: 25%;
}

@media screen and (min-width: 640px) {
  .cols-m-25 {
    width: 25%;
  }
}

.cols-30 {
  width: 30%;
}

@media screen and (min-width: 640px) {
  .cols-m-30 {
    width: 30%;
  }
}

.cols-35 {
  width: 35%;
}

@media screen and (min-width: 640px) {
  .cols-m-35 {
    width: 35%;
  }
}

.cols-40 {
  width: 40%;
}

@media screen and (min-width: 640px) {
  .cols-m-40 {
    width: 40%;
  }
}

.cols-45 {
  width: 45%;
}

@media screen and (min-width: 640px) {
  .cols-m-45 {
    width: 45%;
  }
}

.cols-50 {
  width: 50%;
}

@media screen and (min-width: 640px) {
  .cols-m-50 {
    width: 50%;
  }
}

.cols-55 {
  width: 55%;
}

@media screen and (min-width: 640px) {
  .cols-m-55 {
    width: 55%;
  }
}

.cols-60 {
  width: 60%;
}

@media screen and (min-width: 640px) {
  .cols-m-60 {
    width: 60%;
  }
}

.cols-65 {
  width: 65%;
}

@media screen and (min-width: 640px) {
  .cols-m-65 {
    width: 65%;
  }
}

.cols-70 {
  width: 70%;
}

@media screen and (min-width: 640px) {
  .cols-m-70 {
    width: 70%;
  }
}

.cols-75 {
  width: 75%;
}

@media screen and (min-width: 640px) {
  .cols-m-75 {
    width: 75%;
  }
}

.cols-80 {
  width: 80%;
}

@media screen and (min-width: 640px) {
  .cols-m-80 {
    width: 80%;
  }
}

.cols-85 {
  width: 85%;
}

@media screen and (min-width: 640px) {
  .cols-m-85 {
    width: 85%;
  }
}

.cols-90 {
  width: 90%;
}

@media screen and (min-width: 640px) {
  .cols-m-90 {
    width: 90%;
  }
}

.cols-95 {
  width: 95%;
}

@media screen and (min-width: 640px) {
  .cols-m-95 {
    width: 95%;
  }
}

.cols-100 {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .cols-m-100 {
    width: 100%;
  }
}

/*-----------------Ejemplo 4      -------------------*/
.cols-5 {
  width: 5%;
}

@media screen and (min-width: 1024px) {
  .cols-l-5 {
    width: 5%;
  }
}

.cols-10 {
  width: 10%;
}

@media screen and (min-width: 1024px) {
  .cols-l-10 {
    width: 10%;
  }
}

.cols-15 {
  width: 15%;
}

@media screen and (min-width: 1024px) {
  .cols-l-15 {
    width: 15%;
  }
}

.cols-20 {
  width: 20%;
}

@media screen and (min-width: 1024px) {
  .cols-l-20 {
    width: 20%;
  }
}

.cols-25 {
  width: 25%;
}

@media screen and (min-width: 1024px) {
  .cols-l-25 {
    width: 25%;
  }
}

.cols-30 {
  width: 30%;
}

@media screen and (min-width: 1024px) {
  .cols-l-30 {
    width: 30%;
  }
}

.cols-35 {
  width: 35%;
}

@media screen and (min-width: 1024px) {
  .cols-l-35 {
    width: 35%;
  }
}

.cols-40 {
  width: 40%;
}

@media screen and (min-width: 1024px) {
  .cols-l-40 {
    width: 40%;
  }
}

.cols-45 {
  width: 45%;
}

@media screen and (min-width: 1024px) {
  .cols-l-45 {
    width: 45%;
  }
}

.cols-50 {
  width: 50%;
}

@media screen and (min-width: 1024px) {
  .cols-l-50 {
    width: 50%;
  }
}

.cols-55 {
  width: 55%;
}

@media screen and (min-width: 1024px) {
  .cols-l-55 {
    width: 55%;
  }
}

.cols-60 {
  width: 60%;
}

@media screen and (min-width: 1024px) {
  .cols-l-60 {
    width: 60%;
  }
}

.cols-65 {
  width: 65%;
}

@media screen and (min-width: 1024px) {
  .cols-l-65 {
    width: 65%;
  }
}

.cols-70 {
  width: 70%;
}

@media screen and (min-width: 1024px) {
  .cols-l-70 {
    width: 70%;
  }
}

.cols-75 {
  width: 75%;
}

@media screen and (min-width: 1024px) {
  .cols-l-75 {
    width: 75%;
  }
}

.cols-80 {
  width: 80%;
}

@media screen and (min-width: 1024px) {
  .cols-l-80 {
    width: 80%;
  }
}

.cols-85 {
  width: 85%;
}

@media screen and (min-width: 1024px) {
  .cols-l-85 {
    width: 85%;
  }
}

.cols-90 {
  width: 90%;
}

@media screen and (min-width: 1024px) {
  .cols-l-90 {
    width: 90%;
  }
}

.cols-95 {
  width: 95%;
}

@media screen and (min-width: 1024px) {
  .cols-l-95 {
    width: 95%;
  }
}

.cols-100 {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .cols-l-100 {
    width: 100%;
  }
}

/*-----------------Ejemplo 5      -------------------*/
.cols-5 {
  width: 5%;
}

.cols-10 {
  width: 10%;
}

.cols-15 {
  width: 15%;
}

.cols-20 {
  width: 20%;
}

.cols-25 {
  width: 25%;
}

.cols-30 {
  width: 30%;
}

.cols-35 {
  width: 35%;
}

.cols-40 {
  width: 40%;
}

.cols-45 {
  width: 45%;
}

.cols-50 {
  width: 50%;
}

.cols-55 {
  width: 55%;
}

.cols-60 {
  width: 60%;
}

.cols-65 {
  width: 65%;
}

.cols-70 {
  width: 70%;
}

.cols-75 {
  width: 75%;
}

.cols-80 {
  width: 80%;
}

.cols-85 {
  width: 85%;
}

.cols-90 {
  width: 90%;
}

.cols-95 {
  width: 95%;
}

.cols-100 {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .cols-l-5 {
    width: 5%;
  }
  .cols-l-10 {
    width: 10%;
  }
  .cols-l-15 {
    width: 15%;
  }
  .cols-l-20 {
    width: 20%;
  }
  .cols-l-25 {
    width: 25%;
  }
  .cols-l-30 {
    width: 30%;
  }
  .cols-l-35 {
    width: 35%;
  }
  .cols-l-40 {
    width: 40%;
  }
  .cols-l-45 {
    width: 45%;
  }
  .cols-l-50 {
    width: 50%;
  }
  .cols-l-55 {
    width: 55%;
  }
  .cols-l-60 {
    width: 60%;
  }
  .cols-l-65 {
    width: 65%;
  }
  .cols-l-70 {
    width: 70%;
  }
  .cols-l-75 {
    width: 75%;
  }
  .cols-l-80 {
    width: 80%;
  }
  .cols-l-85 {
    width: 85%;
  }
  .cols-l-90 {
    width: 90%;
  }
  .cols-l-95 {
    width: 95%;
  }
  .cols-l-100 {
    width: 100%;
  }
}

/*-----------------Ejemplo 6      -------------------*/
.cols-5 {
  width: 5%;
}

.cols-10 {
  width: 10%;
}

.cols-15 {
  width: 15%;
}

.cols-20 {
  width: 20%;
}

.cols-25 {
  width: 25%;
}

.cols-30 {
  width: 30%;
}

.cols-35 {
  width: 35%;
}

.cols-40 {
  width: 40%;
}

.cols-45 {
  width: 45%;
}

.cols-50 {
  width: 50%;
}

.cols-55 {
  width: 55%;
}

.cols-60 {
  width: 60%;
}

.cols-65 {
  width: 65%;
}

.cols-70 {
  width: 70%;
}

.cols-75 {
  width: 75%;
}

.cols-80 {
  width: 80%;
}

.cols-85 {
  width: 85%;
}

.cols-90 {
  width: 90%;
}

.cols-95 {
  width: 95%;
}

.cols-100 {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .cols-m-5 {
    width: 5%;
  }
  .cols-m-10 {
    width: 10%;
  }
  .cols-m-15 {
    width: 15%;
  }
  .cols-m-20 {
    width: 20%;
  }
  .cols-m-25 {
    width: 25%;
  }
  .cols-m-30 {
    width: 30%;
  }
  .cols-m-35 {
    width: 35%;
  }
  .cols-m-40 {
    width: 40%;
  }
  .cols-m-45 {
    width: 45%;
  }
  .cols-m-50 {
    width: 50%;
  }
  .cols-m-55 {
    width: 55%;
  }
  .cols-m-60 {
    width: 60%;
  }
  .cols-m-65 {
    width: 65%;
  }
  .cols-m-70 {
    width: 70%;
  }
  .cols-m-75 {
    width: 75%;
  }
  .cols-m-80 {
    width: 80%;
  }
  .cols-m-85 {
    width: 85%;
  }
  .cols-m-90 {
    width: 90%;
  }
  .cols-m-95 {
    width: 95%;
  }
  .cols-m-100 {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */