html {
  body {
    background: $wallpaper-body;
    header {
      nav {
        background: $Wallpaper-nav;
        min-width: $min-width-nav;
        height: $height-nav;
        text-align: end;
        background: $Wallpaper-nav;
        a {
          display: inline-block;
          font-size: $font-size-nav;
          text-decoration-line: none;
          margin-right: $margin-right-nav;
          margin-top: $margin-top-nav;
          margin-bottom: $margin-bottom-nav;
          color: $text-color-nav-a;
          padding: $padding-nav;
          &:hover {
            background: $Wallpaper-nav-a-hover;
            border-radius: $border-radius-nav;
          }
        }
      }
    }
  }
}
