/*-----------------Body--------------------*/

$wallpaper-body:#0d42fa;
/*-----------------Nav---------------------*/

$text-color-nav-a:#000;
$min-width-nav:800px;
$border-radius-nav:5%;
$Wallpaper-nav:#fff;
$Wallpaper-nav-a-hover:#01b8f5;
$font-size-nav:30px;
$height-nav:60px;
$margin-right-nav:1%;
$margin-top-nav:0.3%;
$margin-bottom-nav:1.5%;
$padding-nav:7.5px;
