/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
----------------------------------------Footer--------------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
footer {
  background: $light-wallpaper-footer;
  color: $dark-titulo;
  padding: 10px 0px;
  text-align: center;
  width: 100%;
  body.dark & {
    background: $dark-wallpaper-footer;
  }
}
