/*//////////////////////////////////////////////////////////////////////////////////////////////////////////
----------------------Estilo pagina 404----------------------------------------------------------
//////////////////////////////////////////////////////////////////////////////////////////////////////////*/
article {
  height: 79.4vh;
  section {
    text-align: center;
    margin-top: 2%;
    h1 {
      font-size: $text-back-to-top;
      margin: 20px;
      .dark & {
        color: $dark-titulo;
      }
    }
    p {
      font-size: $text-p;
      margin: 20px;
      .dark & {
        color: $dark-p;
      }
    }
    br {
      font-size: $text-fecha;
    }
  }
  /*//////////////////////////////////////////////////////////////////////////////////////////////////////////
  ----------------------Estilo de paginas y contacto----------------------------------------------------------
  //////////////////////////////////////////////////////////////////////////////////////////////////////////*/
  text-align: center;
  h1 {
    font-size: $text-back-to-top;
    margin: 15%;
    margin-bottom: 2.5%;
    .dark & {
      color: $dark-titulo;
    }
  }
  p {
    font-size: $text-p;
    margin-bottom: 15%;
    .dark & {
      color: $dark-p;
    }
  }
}
